* {
	margin: 0; padding: 0;
}

/** General Style Info **/
body {/*
	font-family: 'Inika', serif;
	background-color: #455554;
	font-size: 15px;
	color: #111;
	padding-top: 5px;*/
	color:#222;
	font-family: 'constantiaregular', serif;
	font-style: normal;
	font-weight: 400;
	background: #862828;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
a {
	text-decoration: none; color: #ed1c24;
}
a img {
	border: none;
}
ul {
	/*list-style-image: url(../img/logo_bullet.png);*/
}
#content ul {
	margin-left: 70px;
}
ul.motivos li {
	color: #FFFFFF;
}
#right_column ul {
	margin-left: 30px;
}
/** Layout **/
#container {
	/*layout*/
	clear: both;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 30px;
	min-height: 470px;
	width: 1000px;
	margin: auto;
	overflow: auto;
	/*style*/
	background: transparent;
	background-color: #F0F5FB;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

#header h2 {
	text-align: center;
}

#header {
	position: relative;
}

.facebook {
	position: absolute;
	top: 30px;
	right: 30px;
}

#footer {
	clear: both;
	text-align: right;
	padding-top: 30px;
	color: #FFFFFF;
}
#footer h2 {
	margin: 0;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	color: #ed1c24;
}
h2 {
	margin-bottom: 10px;
	color: #ed1c24;
	font-size: 20px;
	/*font-weight: bold;*/
}

div.maintenance {
	/*layout*/
	clear: both;
	margin: 20px;
	margin-top: 100px;
	padding: 30px;
	/*style*/
	background-color: #F0F5FB;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 3px ridge #ed1c24;
	display: inline-block;
	margin-left: auto;
}
#content {
	background-image: url(content_background.png);
	background-repeat: repeat-y;
	/*margin-left: 3px;*/
	border-left: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
	padding: 20px;
}

#logo {
/*
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	margin: 20px auto auto;
	background-image: url('../img/fondos/opacity.png');
	border: 1px solid #494949;
	margin-bottom: 15px;
*/
	width: 1000px;
}
#logo img {
	vertical-align: middle;
}
.no-select {
	outline: none !important;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.top {
	position: relative;
	width: 100%;
	padding-top: 15px;
}
.flash {
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #F0F5F0;
	background-color: #F5FFDF;
	color: #202020;
	padding: 16px;
	text-align: center;
	font-weight: bold;
	width: 50%;
	margin: auto;
	margin-bottom: 10px;
	position: relative;
}
.flash a.hide {
	border: 1px solid #CACACA;
	border-radius: 3px 3px 3px 3px;
	color: #808080;
	cursor: pointer;
	line-height: 11px;
	padding: 2px;
	position: absolute;
	right: 3px;
	top: 3px;
}

ul.menu {
	border: none;
	text-align: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: auto;
	height: 60px;
	font-size: 19px;
}
ul.menu li {
	display: inline-block;
	margin: 0;
	padding: 0;
	/*width: 161px;*/
	height: 58px;
	border: 1px solid #DDD;
	vertical-align: middle;
	background-color: #282421;
}
ul.menu li:hover {
	background-color: #F0FAF5;
}
ul.menu li a {
	display: block;
	color: #DDD;
	text-decoration: none;
	text-align: center;
	width: 118px;
	padding: 3px 10px;
}
ul.menu li a.oneline {
	padding: 16px 16px 17px 14px;
}
ul.menu li a:hover {
	color: #226655;
	/*height: 20px;*/
}

/* Highlight of active menu item */
ul.menu li a.active {
	height: 20px;
	color: #FFFFFF;
}

ul.footer {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin: auto;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 0px solid #000000;
	border-top: 0px solid #000000;
}
ul.footer li {
	float: left;
	margin: 0;
	padding: 0;
}
ul.footer li a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding: 4px 20px 0 20px;
	text-align: center;
}
ul.footer li a:hover {
	color: #FFFFFF;
}
.separador-pie {
	color: #E0E1E5;
}

#content p {
	-moz-border-radius: 26px;
	border-radius: 26px;
	-webkit-border-radius: 26px;
	background-color: #E4E4E0;
	padding: 20px;
	margin: 20px;
}

.h1-box {
	-moz-border-radius: 26px;
	border-radius: 26px;
	-webkit-border-radius: 26px;
	background-color: #FAFAF7;
	padding: 10px 20px;
	margin: 20px;
}

#mensaje-enviado {
	width: 500px;
	margin: auto;
}

.gmap {
	display: inline-block;
	margin: 20px 0 0 343px;
}
a.button {
	background: transparent url('../img/botones/bg_button_a.png') no-repeat scroll top right;
	color: #444;
	display: inline-block;
	font: normal 12px arial, sans-serif;
	height: 24px;
	margin-right: 6px;
	padding: 0 18px 0 0 !important; /* sliding doors padding */
	text-decoration: none;
}
a.button span {
	background: transparent url('../img/botones/bg_button_span.png') no-repeat;
	display: block;
	line-height: 14px;
	padding: 5px 0 5px 18px;
}
a.button:active {
	background-position: bottom right;
	color: #000;
	outline: none; /* hide dotted outline in Firefox */
}
a.button:active span {
	background-position: bottom left;
	padding: 6px 0 4px 18px; /* push text down 1px */
}

#links-de-interes, #novedades {
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #B7DDC8;
	width: 282px;
	padding: 10px 10px 20px 10px;
	margin: 20px 10px 10px 10px;
}
#links-de-interes div, #novedades div{
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #FFFFFF;
	padding: 5px;
}

#links-de-interes li, #novedades li{
	padding: 2px 2px 8px 2px;
}
#right_column {
	display: inline-block;
	vertical-align: top;
}
#right_column h2{
	margin-left: 20px;
	color: #1C1713;
}
#left_column {
	display: inline-block;
	width: 630px;
}

#blocks1, #blocks2 {
	position: absolute;
}

span.title {
	font-weight: bold;
	font-size: 20px;
	color: #ed1c24;
}
#watermark {
	padding: 10px 20px 25px 110px;
	/*text-align: center;*/
	color: #FFFFFF;
	/*font-size: 80%;*/
}
#watermark a {
	color: #F87070;
}
.medium-box {
	width: 404px;
	margin: auto;
}
.large-box {
	width: 860px;
	margin: auto;
}
.valor-mbti {
	display: inline-block;
	width: 30px;
	color: #ed1c24;
	font-size: 18px;
}
table#mbti {
	margin: auto;
	/*border-color: #ed1c24;*/
	background: #FCFCFA;
}
table#mbti td {
	padding: 4px 8px;
}
table#mbti th {
	font-weight: normal;
	padding: 4px 8px;
}
th.tipo1 {
	background-color: #DA251C;
	color: #FFF;
}
th.tipo2 {
	background-color: #009241;
	color: #FFF;
}
th.type {
	background-color: #800201;
	color: #FFFE90;
	font-size: 60px;
	letter-spacing: 20px;
}

img.lightspeed {
	margin-left: 15px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
}