.NotFoundView {
  .Nada_Paper {
    min-height: 360px;
    p {
      font-size: 36px;
      vertical-align: middle;
      font-family: 'Gentium Book Basic', serif;
      margin: 0;
      padding: 81px;
      span {
        font-size: 72px;
        font-weight: bold;
        font-style: italic;
        margin-right: 9px;
      }
    }
    .ImgContainer_GridItem {
      display: flex;
      align-items: flex-end;
      img {
        // margin-bottom: 10px;
      }
    }
  }
}