.GroupQuestion {
    color: white !important;
    font-size:16px !important;
    background: #444 !important;
}
.GroupTitle {
    color: white !important;
    font-size:16px !important;
    background: #777 !important;
}
.AxisTotal {
    text-align: center !important;
    font-weight: 700 !important;
    background: #eee !important;
}
.AxisTotal span {
    font-size: 16px !important;
}