.MBTI-header {
  color: white !important;
  font-size:16px !important;
  background: #777 !important;
}
.MBTI-result {
  color: #FFF !important;
  background: #444 !important;
  font-size:60px !important;
  font-family: 'constantiaregular', serif !important;
  letter-spacing:20px !important;
  text-align: center !important;
}
.ResultsPaper {
  background: #E4E4E0 !important;
  border-radius: 18px !important;
  padding: 20px !important;
  margin-bottom: 10px !important;
  font-size: 27px !important;
}
.ResultsPaper span {
  color: #900 !important;
}
.MuiDialog-paperWidthSm {
  width: 900px !important;
  max-width: 900px !important;
}
#customized-dialog-title {
  color: white;
  background: #444;
  padding: 9px 24px;
}
#customized-dialog-title h2 {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  font-family: 'constantiaregular', serif;
}